/* VARIABLES */
:root {
  --light-blue: #588b8b;
  --dark-violet: #2f3061;
  --ultra-light-blue: #f5f5f5;
  --light-brown: #9b6a6c;
  --orange: #efa00b;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}

/* FONT */

body {
  font-family: "Roboto", sans-serif;
}

/* NAVBAR */

nav {
  background-color: var(--light-blue);
}
.nav-left .material-symbols-outlined {
  font-size: 3em;
  rotate: 45deg;
  font-weight: bold;
}
.nav-right .material-symbols-outlined {
  font-size: 2.5em;
}
.nav-left h1 {
  font-size: 2em;
  color: white;
}
.nav-button {
  border-radius: 35px;
  background-color: var(--dark-violet);
  color: white;
  padding: 5px 40px;
  border: none;
  font-size: 1.5em;
}

/* MAIN */

.main {
  background-color: var(--ultra-light-blue);
  padding: 0px 50px;
}
.main h3 {
  font-size: 2em;
}
.content {
  background-color: var(--orange);
  padding: 20px;
  border-radius: 15px;
}

/* TOPICS */

.single-topic-content {
  background-color: var(--light-brown);
  color: white;
  border-radius: 10px;
}
.avatar .material-symbols-outlined {
  font-size: 2.5em;
}
#topic-name {
  font-weight: 500;
  font-size: 1.2em;
}
.icon-black .material-symbols-outlined {
  color: black;
}
.main select {
  border: 2px solid black;
  background-color: transparent;
  font-weight: bold;
  padding: 5px 50px 5px 5px;
}
.main {
  padding-bottom: 50px;
}
.main .material-symbols-outlined {
  font-size: 2em;
}

/* FOOTER */

footer {
  background-color: var(--light-blue);
  color: white;
}

footer ul {
  list-style-type: none;
  font-size: 1.5em;
}
footer ul li {
  margin-right: 40px;
}

/* POST */

#post-avatar .material-symbols-outlined {
  font-size: 5em;
}
.post-content {
  background-color: var(--light-brown);
  padding: 20px;
  border-radius: 15px;
}
.post-content h5 {
  font-weight: 600;
}
.comments {
  background-color: var(--orange);
  border-radius: 15px;
  padding-bottom: 20px;
}

.add-post-title {
  font-size: 2em;
}

.add-post-title input[type="text"] {
  background-color: var(--light-brown);
  border-radius: 20px;
  border: 2px solid black;
}
.post-textarea {
  background-color: var(--light-brown);
  border-radius: 20px;
  border: 2px solid black;
}

/* PROFILE */

.profile-avatar .material-symbols-outlined {
  font-size: 5em;
}
#profile-username {
  font-size: 2em;
}

/* PROFILE TABS */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-tabs h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

.profile-tabs p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.profile-tabs main {
  min-width: 320px;
  max-width: 800px;
  padding: 30px 50px;
  margin: 0 auto;
  background: var(--light-brown);
  border-radius: 15px;
}

.profile-tabs section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid black;
}

.profile-tabs input {
  display: none;
}

.profile-tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: black;
  border: 1px solid transparent;
}

.profile-tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.profile-tabs label[for*="1"]:before {
  content: "\f1cb";
}

.profile-tabs label[for*="2"]:before {
  content: "\f17d";
}
.profile-tabs label:hover {
  color: #888;
  cursor: pointer;
}

.profile-tabs input:checked + label {
  color: black;
  border: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 1px solid var(--light-brown);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-tabs #tab1:checked ~ #content1,
.profile-tabs #tab2:checked ~ #content2,
.profile-tabs #tab3:checked ~ #content3,
.profile-tabs #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

.single-item-profile {
  background-color: var(--dark-violet);
  border-radius: 15px;
  color: white;
}
.single-item-profile .material-symbols-outlined {
  color: white;
}
img {
  max-width: 100%;
}

/* LOGIN */

.input-text {
  font-size: 1.5em;
}

.form-label span {
  font-size: 0.8em;
}
#login-blue {
  color: blue;
  font-size: 1em;
}
#login-white {
  color: white;
}
.form-label input {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 100px 10px 10px;
  border-radius: 5px;
}

.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert ease-in-out 3s forwards;
  -webkit-animation: floatingAlert ease-in-out 3s forwards;
  -o-animation: floatingAlert ease-in-out 3s forwards;
  animation: floatingAlert ease-in-out 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}
.message-green {
  background-color: green;
  color: white;
}
.message-red {
  background-color: red;
  color: white;
}

.liveValidateMessage {
  top: -24px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-enter {
  opacity: 0;
  transform: translateY(100%);
}

.liveValidateMessage-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.liveValidateMessage-exit {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}
.form-group {
  position: relative;
}

.relative {
  position: relative;
}

.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.link-black {
  color: black;
}
.comments button[type="submit"] {
  background-color: transparent;
  border: none;
  font-size: 3em;
}
.comments button[type="submit"]:focus {
  background-color: transparent;
  border: none;
  font-size: 3em;
}

.userOptions {
  top: 50px;
  left: -100px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.userOptions--visible {
  opacity: 1;
  transform: translateY(0);
}

.userOptions-enter {
  opacity: 0;
  transform: translateY(100%);
}

.userOptions-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.userOptions-exit {
  opacity: 1;
  transform: translateY(0);
}

.userOptions-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}
.option-box {
  padding: 20px 50px 20px 20px;
  border: 1px solid gray;
  background-color: var(--orange);
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
}

select:focus {
  outline: none;
}

input:focus {
  outline: none;
}

/* CHAT */
.content {
  background-color: var(--orange);
  padding: 20px;
  border-radius: 15px;
}

.chat .material-symbols-outlined {
  font-size: 3em;
  font-weight: bold;
}

.sender {
  background-color: var(--dark-violet);
  border-radius: 15px;
  border: 2px solid black;
  color: white;
  padding: 10px 20px;
  text-align: right;
}

.recipient {
  background-color: var(--light-blue);
  color: white;
  border-radius: 15px;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: left;
}

.chat input:focus {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid black;
}

.chat input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid black;
}

.chat-input {
  height: 40px;
  background-color: var(--light-brown);
  color: black;
  border-radius: 10px;
  border: 2px solid black;
}

.chat-field {
  background-color: var(--light-brown);
}

.no-outline:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.6; /* Firefox */
}

.chat .material-symbols-outlined:focus {
  animation-name: scale;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}

.chat button {
  border: none;
  background-color: transparent;
}

.chat button:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

@keyframes scale {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(0.8)
  }
  100% {
    transform: scale(1)
  }
}

.navbar-button button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
