/* VARIABLES */
:root {
  --light-blue: #588b8b;
  --dark-violet: #2f3061;
  --ultra-light-blue: #f5f5f5;
  --light-brown: #9b6a6c;
  --orange: #efa00b;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}

/* FONT */

body {
  font-family: "Roboto", sans-serif;
}

/* NAVBAR */

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light-blue);
  padding: 2rem 1rem;
}
.nav-left {
  display: flex;
  flex-direction: row;
}
.nav-left .material-symbols-outlined {
  font-size: 3rem;
  rotate: 45deg;
  font-weight: bold;
}
.nav-right {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
}
.nav-right .material-symbols-outlined {
  font-size: 2.5rem;
  cursor: pointer;
}
.nav-left h1 {
  font-size: 2rem;
  color: white;
}
.nav-button {
  border-radius: 35px;
  background-color: var(--dark-violet);
  color: white;
  padding: 5px 40px;
  border: none;
  font-size: 1.5rem;
}
.nav-button-sm {
  display: none;
}
.mobile-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobile-toggle-inverse {
  display: none;
}
@media screen and (max-width: 1000px) {
  .nav {
    padding: 1rem 0.5rem;
  }
  .nav-left .material-symbols-outlined {
    font-size: 2rem;
  }

  .nav-left h1 {
    font-size: 1rem;
    margin-top: 0.3rem;
  }
  .mobile-toggle {
    display: none;
  }
  .nav-button-sm {
    display: block;
    font-size: 1rem;
  }
  .mobile-toggle-inverse {
    display: block;
  }
}
/* MAIN */

.main {
  background-color: var(--ultra-light-blue);
  padding: 0 50px;
}
.main h3 {
  font-size: 2rem;
  margin-top: 3rem;
}
.content {
  background-color: var(--orange);
  padding: 20px;
  border-radius: 15px;
}

@media screen and (max-width: 1000px) {
  .main {
    background-color: var(--ultra-light-blue);
    padding: 0rem 1rem;
  }
  .main h3 {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
/* TOPICS */
.topics-upper {
  display: flex;
  flex-direction: row;
}
.topics-upper h4 {
  padding-left: 2rem;
}
.single-topic {
  display: flex;
  flex-direction: row;
}
.single-topic-content {
  background-color: var(--light-brown);
  color: white;
  border-radius: 10px;
}
.avatar .material-symbols-outlined {
  font-size: 2.5em;
}
#topic-name {
  font-weight: 500;
  font-size: 1.2em;
}
.icon-black .material-symbols-outlined {
  color: black;
}
.main select {
  border: 2px solid black;
  background-color: transparent;
  font-weight: bold;
  padding: 5px 50px 5px 5px;
}
.main {
  padding-bottom: 50px;
}
.main .material-symbols-outlined {
  font-size: 2em;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .main select {
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
    padding: 0.1rem 0.5rem;
    margin-left: 0.5rem;
  }
  .topics-upper {
    font-size: 0.5rem;
  }
  .topics-upper h4 {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
  .single-topic-content {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
  }
  #topic-name {
    font-size: 1rem;
  }

  .main {
    padding-bottom: 2rem;
  }
}
/* FOOTER */

footer {
  background-color: var(--light-blue);
  color: white;
}

footer ul {
  list-style-type: none;
  font-size: 1.5em;
}
footer ul li {
  margin-right: 40px;
}
@media screen and (max-width: 1000px) {
  footer ul {
    list-style-type: none;
    font-size: 0.8rem;
  }
  footer ul li {
    margin-right: 1.5rem;
  }
}
/* POST */

#post-avatar .material-symbols-outlined {
  font-size: 5em;
}
.post-content {
  background-color: var(--light-brown);
  padding: 20px;
  border-radius: 15px;
  margin-left: 20px;
}
.post-content h5 {
  font-weight: 600;
}
.comments {
  background-color: var(--orange);
  border-radius: 15px;
  padding-bottom: 20px;
}
.comments-reply {
  border-radius: 15px;
  border: solid rgb(231, 109, 64);
  background-color: orange;
  border-width: 2px;
}
.comments-reply-mobile {
  border: solid rgb(0, 0, 0);
  background-color: rgb(214, 120, 4);
  border-width: 2px;
}
.comments-reply-list {
  border-radius: 15px;
  border: solid rgb(231, 109, 64);
  background-color: rgb(244, 187, 68);
  border-width: 2px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  float: right;
}

.add-post-title {
  font-size: 2rem;
}
@media screen and (max-width: 1000px) {
  .add-post-title {
    font-size: 1rem;
  }
}
.add-post-title input[type="text"] {
  background-color: var(--light-brown);
  border-radius: 20px;
  border: 2px solid black;
  color: white;
  padding-left: 10px;
}
.post-textarea {
  background-color: var(--light-brown);
  border-radius: 20px;
  border: 2px solid black;
  color: white;
}
#post-keyword {
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1000px) {
  .post-content {
    margin-left: 0px;
  }
}
/* PROFILE */

.profile-avatar .material-symbols-outlined {
  font-size: 5em;
}
#profile-username {
  font-size: 2em;
}

.profile-avatar-container-comment {
  width: 4rem;
  height: 4rem;
  position: relative;
}

.profile-avatar-comment {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
}
/* PROFILE TABS */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-tabs h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

.profile-tabs p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.profile-tabs main {
  min-width: 320px;
  max-width: 800px;
  padding: 30px 50px;
  margin: 0 auto;
  background: var(--light-brown);
  border-radius: 15px;
}

.profile-tabs section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid black;
}

.profile-tabs input {
  display: none;
}

.profile-tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: black;
  border: 1px solid transparent;
}

.profile-tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.profile-tabs label[for*="1"]:before {
  content: "\f1cb";
}

.profile-tabs label[for*="2"]:before {
  content: "\f17d";
}
.profile-tabs label:hover {
  color: #888;
  cursor: pointer;
}

.profile-tabs input:checked + label {
  color: black;
  border: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 1px solid var(--light-brown);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-tabs #tab1:checked ~ #content1,
.profile-tabs #tab2:checked ~ #content2,
.profile-tabs #tab3:checked ~ #content3,
.profile-tabs #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

.single-item-profile {
  background-color: var(--dark-violet);
  border-radius: 15px;
  color: white;
}
.single-item-profile .material-symbols-outlined {
  color: white;
}
img {
  max-width: 100%;
}

/* LOGIN */

.input-text {
  font-size: 1.5em;
}

.form-label span {
  font-size: 0.8em;
}
#login-blue {
  color: blue;
  font-size: 1em;
}
#login-white {
  color: white;
}
.form-label input {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 100px 10px 10px;
  border-radius: 5px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.login .centered #login-white {
  margin-left: 6rem;
}
@media screen and (max-width: 1000px) {
  .form-label input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  .login h6 {
    font-size: 1.5rem;
  }
  .login .centered #login-white {
    margin-left: auto;
  }
}
.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert ease-in-out 3s forwards;
  -webkit-animation: floatingAlert ease-in-out 3s forwards;
  -o-animation: floatingAlert ease-in-out 3s forwards;
  animation: floatingAlert ease-in-out 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}
.message-green {
  background-color: green;
  color: white;
}
.message-red {
  background-color: red;
  color: white;
}

.liveValidateMessage {
  top: -7px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
@media screen and (max-width: 1000px) {
  .liveValidateMessage {
    top: -5px;
    position: absolute;
    z-index: 1;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-enter {
  opacity: 0;
  transform: translateY(100%);
}

.liveValidateMessage-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.liveValidateMessage-exit {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}
.form-group {
  position: relative;
}

.relative {
  position: relative;
}

.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.link-black {
  color: black;
}
.comments button[type="submit"] {
  background-color: transparent;
  border: none;
  font-size: 3em;
}
.comments button[type="submit"]:focus {
  background-color: transparent;
  border: none;
  font-size: 3em;
}

.userOptions {
  top: 50px;
  left: -100px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.userOptions--visible {
  opacity: 1;
  transform: translateY(0);
}

.userOptions-enter {
  opacity: 0;
  transform: translateY(100%);
}

.userOptions-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.userOptions-exit {
  opacity: 1;
  transform: translateY(0);
}

.userOptions-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}
.option-box {
  padding: 20px 50px 20px 20px;
  border: 1px solid gray;
  background-color: var(--orange);
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
}

select:focus {
  outline: none;
}

input:focus {
  outline: none;
}

/* SEARCH */

.search-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(215, 215, 215, 0.911);
}

.search-overlay-enter {
  opacity: 0;
  transform: scale(1.3);
}

.search-overlay-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.search-overlay-exit {
  opacity: 1;
  transform: scale(1);
}

.search-overlay-exit-active {
  opacity: 0;
  transform: scale(1.3);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.search-overlay-icon {
  color: #007bff;
  font-size: 1.4rem;
  margin: 0;
  margin-right: 10px;
}

.live-search-field {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  outline: none;
  flex: 1;
  color: white;
}

.live-search-results {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(1.07);
}

.live-search-results--visible {
  opacity: 1;
  transform: scale(1);
}

.search-overlay-top {
  background-color: var(--orange);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* background-color: rgba(0, 0, 0, .79); */
}

.search-overlay-top .container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-overlay-bottom {
  overflow: auto;
}

.close-live-search {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.75;
  line-height: 1;
  color: #292929;
}

.search-bar {
  background-color: var(--light-brown);
  border: 1px solid black;
  padding: 30px 50px;
  color: white;
  font-size: 1.5em;
  border-radius: 20px;
}
.search-bar input::placeholder {
  color: white;
}
.search-overlay .material-symbols-outlined {
  font-size: 4em;
  margin-left: 20px;
}
.list-group {
  padding: 20px 50px;
  background-color: var(--orange);
  border-radius: 20px;
}
.search-result {
  border-radius: 15px;
  background-color: var(--dark-violet);
  padding: 10px 30px;
  color: white;
}
@media screen and (max-width: 1000px) {
  .search-bar {
    background-color: var(--light-brown);
    border: 1px solid black;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 0.8rem;
    border-radius: 20px;
  }
  .search-overlay .material-symbols-outlined {
    font-size: 2em;
    margin-left: 10px;
  }
  .search-result {
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
  }
  .list-group {
    padding: 1rem 1.5rem;
  }
}
.liveValidateMessage-delete {
  position: relative;
  left: -100px;
  z-index: 1;
}
.delete-absolute {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  position: absolute;
}
.delete-pop {
  background-color: white;
  color: black;
  padding: 20px 30px;
  border-radius: 15px;
}
.delete-button {
  text-align: center;
  border-radius: 10px;
  font-size: 0.5em;
}
.delete-button-yes {
  background-color: darkgreen;
}
.delete-button-yes:hover {
  background-color: green;
}
.delete-button-no {
  background-color: darkred;
}
.delete-button-no:hover {
  background-color: red;
}
.avatar-container {
  width: 10rem;
  height: 10rem;
  position: relative;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f5f5f5;
  overflow: hidden;
}

.avatar-img {
  width: 100%;
  height: 100%;
}
.single-post-layout {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1000px) {
  .single-post-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post-content {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
  }
  .single-post-layout-row {
    display: flex;
    flex-direction: row;
  }
  .keywords {
    flex-direction: column;
  }
}
.cro-container {
  height: 40rem;
  width: 60rem;
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.cro-container-cropper {
  height: 90%;
  padding: 10px;
}

.cro-cropper {
  height: 90%;
}

.cro-container-buttons {
  border: 1px solid #f5f5f5;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

/*Not Found component*/
.notfound-content {
  background-color: #efa00b;
  padding-left: 320px;
  padding-right: 320px;
  align-content: inherit;
}

/* CHAT */
.content {
  background-color: var(--orange);
  padding: 20px;
  border-radius: 15px;
}

.chat .material-symbols-outlined {
  font-size: 3em;
  font-weight: bold;
}

.sender {
  background-color: var(--dark-violet);
  border-radius: 15px;
  border: 2px solid black;
  color: white;
  padding: 10px 20px;
  text-align: right;
}

.recipient {
  background-color: var(--light-blue);
  color: white;
  border-radius: 15px;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: left;
}

.chat input:focus {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid black;
}

.chat input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid black;
}

/*.chat-input {*/
/*  height: 40px;*/
/*  background-color: var(--light-brown);*/
/*  color: black;*/
/*  border-radius: 10px;*/
/*  border: 2px solid black;*/
/*}*/

/*.chat-field {*/
/*  background-color: var(--light-brown);*/
/*}*/

.no-outline:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.6; /* Firefox */
}

.chat .material-symbols-outlined:focus {
  animation-name: scale;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}

.chat button {
  border: none;
  background-color: transparent;
}

.chat button:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.navbar-button button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

@keyframes animateLikeButtonClikcMe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(1);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  92% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  94% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  96% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  98% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes animateLikeButton {
  10% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0%);
  }
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(0%, 0%) rotate(-360deg);
  }
}

@keyframes animateUnlikeButton {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
    color: rgba(255, 0, 0, 0.747);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
    color: darkred;
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
    color: rgba(255, 0, 0, 0.747);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.hamb-menu {
  padding: 2rem 0.5rem;
  position: absolute;
  background-color: var(--ultra-light-blue);
  width: 100%;
  z-index: 9999999999999;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.hamb-menu .material-symbols-outlined {
  font-weight: bold;
  font-size: 1.2rem;
}
.absolute {
  position: absolute;
}
.bioField {
  background-color: var(--light-brown);
  height: 80%;
  width: 50%;
  text-align: justify;
  margin: 10px;
  padding: 1rem 0.5rem;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid black;
  overflow: auto;
}
.nav-bio-button {
  border-radius: 35px;
  background-color: var(--dark-violet);
  color: white;
  margin-bottom: 15px;
  margin-left: 30px;
  padding: 5px 30px;
  border: none;
  font-size: 1.2rem;
  width: 100%;
}
.tabs-user-profile {
  background-color: var(--orange);
  color: black;
  font-weight: bold;
}
.single-tab-user-profile-light-brown {
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  width: 80%;
  padding: 10px;
  background-color: var(--light-brown);
}
.tab-posts-user-profile-light-blue {
  background-color: var(--light-blue);
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  width: 80%;
  padding: 10px;
}

.filters {
  position: relative;
  background-color: var(--ultra-light-blue);
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  top: 20px;
  left: 100px;
  border: 1px solid black;
}

@media screen and (max-width: 1000px) {
  .filters {
    left: 0px;
    font-size: 0.7rem;
  }
}

.refresh-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.refresh-button-itself {
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.sub-comment-button {
  font-size: 13px;
  width: 150px;
  height: 25px;
  align-items: center;
  background-color: darkorange;
  color: white;
  border-radius: 5px;
  border-color: #000;
}
